<section class="members-and-tasks">
  <form class="tasks-search-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <div class="members">
    <app-rounded-members></app-rounded-members>
  </div>
  <button mat-raised-button color="primary" class="d-flex align-items-center">
    Members<span class="material-icons-outlined font-sm mx-1">add</span>
  </button>
</section>
