<section class="platform-details">
  <div class="details-header">
    <div class="name-wrapper">
      <h1 class="platform-name">
        HUB Road Map
      </h1>
      <button mat-icon-button class="platform-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <small class="platform-note">Manage all the tasks in your platform</small>
<!--    <a [routerLink]="'/platform/' + id + '/' + 'test'">asd</a>-->
    <!-- PLATFORM CONTROLLER -->
    <app-platform-controller></app-platform-controller>
  </div>

  <router-outlet></router-outlet>
</section>
